/*
黃: #f5e78f
紫: #782e87
首頁妙元大法師 大黃: #f8cd19
重建釋迦山 紫: #782e87
釋迦山功德會 紅: #b63d32
*/

/* @media only screen and (max-width: 767px) */
.main-header .nav-toggler {
/*    background: #782e87;*/
}



.template-login_form #content-core .field input {
    margin-left:10px;
    margin-bottom:10px;
}

.template-login_form #content-core .formControls .context {
    box-shadow: 3px 3px 2px #ccc;
    width: 80px;
}

#content-core ul li {
    list-style: initial;
}

#content-core ol li {
    list-style: decimal;
}

#content-core img{
    margin: 12px;
}

.sidebar-page-container.bg_1 {
    max-height:400px;
    height: 400px;
    overflow: hidden;
}

.sidebar-page-container.bg_1 img{
    height:400px;
}

.sidebar-page-container.bg_1 video{
    width:100%;
    position: absolute;
    top: -100%;
    bottom: -100%;
    margin: auto;
}

.main-menu .navigation > li > a  {
    padding: 17px 15px;
}

.template-text_listing #content-core .content-inner .anwser {
    background:#782e87;
    color: #fff;
}

.news-block-four {
    border-bottom-color: #782e87;
}

.template-youtube_listing #content-core h3 {
    color: #aaa;
}

.sidebar-page-container {
    background-color: #f5e78f;
}

.main-footer .footer-bottom .copyright-section {
    margin-top: 0;
    padding-top: 40px;
    background-color: #782e87;
}

.template-cover_view .sidebar-page-container.master-intro,
.template-cover_view .sidebar-page-container.rebuild,
.template-cover_view .sidebar-page-container.org {
    color: #fff;
    background-color: #f8cd19;
    padding: 100px 0;
}

.template-cover_view .sidebar-page-container.rebuild {
    background-color: #782e87;
}

.template-cover_view .sidebar-page-container.org {
    background-color: #b63d32;
}

.template-cover_view .sidebar-page-container.bg_1, .template-cover_view .sidebar-page-container.bg_2 {
    padding: 0;
    background-color: #782f87;
}

.template-cover_view .sidebar-page-container.bg_1 img {
    width: 100%;
}

.template-cover_view .sidebar-page-container.bg_2 img {
    width: 100%;
    height: auto;
}

.template-cover_view .sidebar-page-container.bg_2 .text {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 300px;
    color: #fff;

}

.template-cover_view .sidebar-page-container.bg_2 .text a {
    font-size: 22px;
    color: #fff;
}

.flower-underline{
    left: 95px;
    width: 576px;
    position: absolute;
    top: 50px;
    height: 5px;
    border-bottom: 2px solid rgba(120, 45, 135, 1);
    height: 0 !important;
    min-height: 0 !important;
}

.flower-title-img {
    float: left;
    margin-right: 15px;
}

.flower-h2-title {
    padding-top: 10px;
    color:#782e87;
}

.header-upper img {
    width: 100%;
}

.news-block-six .inner-box .image-box .image .overlay-box {
    top:200px
}
